article {
  border: 5px solid #545149;
  margin-top: 30px;
  border: 3px solid;

}

hr {
  margin: 2em;
  font-size:25%;
  border: 0px;
  border-bottom: 5px solid #545149;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  
}

header>div {
  display: flex;
  align-items: center;
  
}

header>div>i{
  padding-left: 15px;
  color: #c6c6c6 
}

header span {
  padding:10px;
}

footer {
  padding-bottom: 10px;
  
}


footer>div {
  display: flex;
  justify-content: space-between;
  padding: 0px 10px 5px 10px;
  align-items: center;
  font-size: medium;
  color: #4056A1
  
}

footer>div>div {
  display: flex;
  justify-content: space-evenly;
  width: 100px;
  font-size: large

  ;
}

p {

  margin: 5px;
  padding: 10px;
  overflow-wrap: anywhere;
}

.likes {
  font-size: x-small

}

article:hover {
  box-shadow: 5px 5px black;
}

.fa-solid:hover {
color: goldenrod 
}
.fa-solid:hover {
color: goldenrod
}
.fa-solid:hover {
color: goldenrod
}


#down-arrow {
  animation: hithere 1s ease infinite;
}
@keyframes hithere {
  30% { transform: scale(1.2); }
  40%, 60% { transform: rotate(-20deg) scale(1.2); }
  50% { transform: rotate(20deg) scale(1.2); }
  70% { transform: rotate(0deg) scale(1.2); }
  100% { transform: scale(1); }
}